* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #362F4F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

h1 {
    color: aqua;
    font-size: 7.5vmin;
    margin-top: 2vmin;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    height: 6vmin;
    color: white;
}
.game {
    margin-top: 3vmin;
    height: 70vmin;
    width: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vmin;
}

.box {
    border-radius: 10%;
    height: 20vmin;
    width: 20vmin;
    font-size: 10vmin;
    background-color: #ffffc7;
    color: black;
}

#reset-btn {
    padding: 1.5vmin;
    color: white;
    background-color: hsl(197, 89%, 37%); 
    font-size: 2.5vmin;
    border-radius: 10vmin;
    border: none;
    cursor: pointer;
    margin-top: 2vmin;
}

#reset-btn:hover {
    background-color: rgb(0, 179, 255);
}

.flash {
    background-color: black;
}